<div class="allindex">
    <div class="welcome">
      <h1 id="welcome">Artist Search<h1>
        <h3 id="artistPadding">Search by city or artist name</h3>
          <%= react_component 'ArtistsSearch' %>
    </div>
</div>
