<div class="allindex">
    <div class="welcome">
      <h1 id="welcome">Welcome to beautify</h1>
        <h3 id="artistPadding">Are you an Artist? Search for Jobs Below</h3>
          <%= react_component 'Listings' %>
    </div>
</div>
