/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

 * {
   margin: 0;
   padding: 0;
 }

 html, body {
   height: 100%;
   background-image: url("https://image.freepik.com/free-vector/watercolour-splatter-rainbow-colours_1048-6320.jpg");
   background-repeat: no-repeat;
   background-position:bottom;
 }

.navbar {
  background-color:#472a41!important;
}

.nav-item {
   color: white!important;
   font-family: 'Ubuntu', sans-serif;
   font-size: 1rem;
   font-weight: bold;
 }

 #mn {
  max-width: 100%;
  margin: 0 auto;
  min-height: 65%;
}

#cs{
  overflow: auto;
  padding-bottom: 5rem;
}

.notice {
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
  margin:auto;
  width: 20%;
  background-color: white;
  border-radius: 5%;
  box-shadow: 5px 5px 5px grey;
  font-size: 1rem;
}

 #test{
   font-family: 'Ubuntu', sans-serif;
   width: 50%;
   margin: auto;
   background-color: white;
   border: 2px solid #472a41;
   box-shadow: 5px 5px 5px grey;
   padding-top: 1rem;
   margin-top: 3rem;
   border-radius: 20px;
   padding-left: 2em;
 }

.col-xs-4{
  width: 350px;
  padding: 10px;
  border: 2px solid #472a41;
  border-radius: 10px 10px 10px 10px;
  margin-right: 2px;
}

.searchBox{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top: 2rem;
}

 footer {
    position: relative;
    margin-top: -5rem;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    background-color: #472a41;
    padding-bottom: 5rem;
    padding-top:1rem;
 }

.allindex{
  border: 2px solid #472a41!important;
  background-color: white!important;
  width: 60%;
  border-radius: 20px;
  margin: auto;
  box-shadow: 5px 5px 5px grey;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  opacity: 0.9;
}

.profilePage{
  border: 2px solid #472a41!important;
  background-color: white!important;
  width: 50%;
  margin: auto;
  box-shadow: 5px 5px 5px grey;
  padding-bottom: 2rem;
  margin-top: 3rem;

}

.welcome {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: bold;
  color: #544d4d;
  margin-top: 2rem;
  padding-bottom:1rem;
}

#beautify{
  display:block;
  text-align:center;
  margin-bottom: 2em;
  font-family: 'Ubuntu', sans-serif!important;
}

#connect{
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Ubuntu', sans-serif!important;
}

/* Beautify me page CSS */
#test2 {
   font-family: 'Ubuntu', sans-serif!important;
   width: 40%;
   margin: auto;
   background-color: white;
   padding: 60px;
   opacity: 0.9;
   border-radius: 20px;
   border: 2px solid #472a41!important;
   background-color: white!important;
   box-shadow: 5px 5px 5px grey
}

/* End of CSS for Beautify me pg */


#ava_id{
  height: 40px;
  width: 40px;
  border-radius: 5px 20px 5px;
  border: 2px solid white;
}


a {
  font-size: 1.25rem;
  color: #ffffff!important;
  font-style: italic;

}

.artistAvatar{
  border-radius: 50%;
}

a:hover {
background-color:transparent;
color: #929292!important;
}

.actions {
  display: flex;
  justify-content: center;
}

.submit {
  width: 250px;
  padding: 5px;
}

#explore{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#pag{
  border: 1px solid red;
}

#artistPadding{
  padding-bottom: 3rem;
}

.dropdown-item{
  color: #472a41!important;
}

//CSS listings form

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#biddingstable {
  margin-left:auto;
  margin-right:auto;
  width:60px;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
 animation: 1s ease 0s normal forwards 1 fadein;
}

.offerlink {
  font-size: 18px;
}

#item {
  text-align: center;
  margin: 0 auto;
}

.slider-control-bottomcenter {
  display: none !important;
}

.listingpagemain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  font-family: 'Ubuntu', sans-serif!important;
  border: 2px solid #472a41!important;
  border-radius: 20px;
  background-color: white!important;
  box-shadow: 5px 5px 5px grey;
  padding-top: 4em;
  padding-bottom: 4em;
  width: 90%;
  opacity: 0.9;
  margin: auto;
}

.listinginfo {
  font-family: 'Ubuntu', sans-serif!important;
  width: 45%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
  border: 2px solid #472a41!important;
  background-color: white!important;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

h4{
  font-family: 'Ubuntu', sans-serif!important;
  font-weight: bold;
}
td {
  font-family: 'Ubuntu', sans-serif!important;
  font-size: 1rem;
}
tr{
    width: 50%;
}

th {
    width: 50%;
}

#biddingstable{
  border-radius: 20px!important;
}
@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}

.listingtitle{
  text-align:center;
  margin: auto;
  margin-bottom: 2em;
  margin-top:2em;
  font-family: 'Ubuntu', sans-serif!important;
  border: 2px solid #472a41!important;
  background-color: white!important;
  box-shadow: 5px 5px 5px grey;
  padding: 1.5rem;
  width: 50%;
  border-radius: 20px;
}

.carousel {
  border: 2px solid #472a41!important;
  background-color: white!important;
  padding: 1.5rem;
  width: 30%;
  border-radius: 20px;
  text-align: center;
}

.offertable{
  border: 2px solid #472a41!important;
  background-color: white!important;
  box-shadow: 5px 5px 5px grey;
  padding: 1.5rem;
  width: 50%;
  border-radius: 20px;
  margin:auto;
  text-align: center;
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
 animation: 1s ease 0s normal forwards 1 fadein;
}

.eduardo{
  text-align: center;
  list-style-type: none!important;
  margin: auto;
  color: white;
  margin-top:5em;
  font-family: 'Ubuntu', sans-serif!important;
  border: 2px solid #ffffff!important;
  background-color: white!important;
  box-shadow: 5px 5px 5px grey;
  padding: 1.5rem;
  width: 50%;
  border-radius: 20px;
  opacity: 0.9;
  background-color: #472a41!important;
}
.rocio{
  text-align: center;
  list-style-type: none!important;
  margin: auto;
  color: white;
  margin-bottom: 2em;
  margin-top:5em;
  font-family: 'Ubuntu', sans-serif!important;
  border: 2px solid #472a41!important;
  background-color: white!important;
  box-shadow: 5px 5px 5px grey;
  padding: 1.5rem;
  width: 50%;
  border-radius: 20px;
  opacity: 0.9;
  background-color: #ffffff!important;
}
#imageAva{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

#box{
  margin-bottom: 1em;
  margin-top: 1em;
}

.row{
  margin: auto;
}

.imgFooter{
  margin-right: 3em;
}

.table{
  font-family: 'Ubuntu', sans-serif!important;
  -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
 animation: 0.5s ease 0s normal forwards 1 fadein;
  width: 90%;
  margin: auto;
}

#profileNickname{
  color: black;
}

#addressRow{
  width: 100%;
}

.form-check{
  padding-top: 1em!important;
}

.btn-toolbar{
   display: flex!important;
   justify-content: center!important;
   margin-top: 4rem!important;
}

#welcome{
  margin-bottom: 2rem;
}

.imgFooter {
  word-spacing: 60px;
}
